$('#newchat').append('<div style="text-align: right; font-size: 20px;"><%= current_user.name %></div><div class="row shadow-lg p-3 mb-5 bg-light rounded mw-100" style="text-align: right;" ><%= @chat.message %></div>');
$('input[type=text]').val("")
